@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(9, 0, 77, 0.5), rgba(9, 0, 77, 0.5)), url('/images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 8%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    width: 160px;
}

nav .menu ul {
    display: flex;

}

nav .menu ul li {
    list-style: none;
    margin: 0px 20px;
}

nav .menu ul li a {
    text-decoration: none;
    color: white;
}

nav .menu ul li img {
    width: 15px;
}

nav .menu ul li .btn {
    padding: 5px 15px;
    color: white;
    background-color: rgb(224, 31, 79);
    outline: none;
    border: none;
    cursor: pointer;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.hero h1 {
    font-size: 60px;
    color: white;
}

.hero p {
    font-size: 14px;
    color: white;
}

.hero form {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 8px 10px;
    width: 80%;
    margin: 10px 0px;
    border-radius: 3px;
}

.hero form input {
    padding: 8px;
    outline: none;
    border: none;
}

.hero form .btn {
    font-size: 14px;
    padding: 5px 15px;
    color: white;
    background-color: rgb(224, 31, 79);
    outline: none;
    border: none;
    cursor: pointer;
}

@media screen and (max-width:768px) {

    .container {
        min-height: 100vh;
        width: 100%;
        padding: 10px;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav .logo{
        width: 100px;
    }
    nav .menu ul {
        display: flex;
        flex-direction: column;
    }

    .hero {
        padding: 0 20px;
        text-align: left;
        width: 100%;
        justify-content: flex-start;
    }
    .hero h1 {
        font-size: 45px;
        color: white;
    }
    .hero form {
        display: flex;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        padding: 0;
        width: 100%;
        margin: 10px 0px;
        border-radius: 3px;
    }
}